.nav-login {
    margin-top: 30px;
    margin-right: 80px;

    a {
        text-decoration: none;

        color: #000000;

        font-size: 20px;

        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 12px;

        transition: $transition-05;
    }

    a:hover {
        border-bottom: $hover-nav-btn;

        color: $color-primary;
    }
}

.cuadro-login {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;

    background-color: $color-secundary;

    width: 24%;

    border-radius: 10px;
    border: #000000 solid 2px;

    .logo-login {
        height: 35px;

        margin-top: 25px;
    }

    p {
        font-size: 18px;

        margin-top: 15px;
        margin-bottom: 5px;
    }

    .continuar {
        ul {
            list-style-type: none;

            text-align: center;

            li {
                margin-top: 15px;
                margin-bottom: 25px;

                a {
                    text-decoration: none;

                    color: #000000;

                    background-color: $color-primary;

                    border: #000000 solid 1px;
                    border-radius: 5px;

                    padding-top: 5px;
                    padding-right: 10px;
                    padding-bottom: 5px;
                    padding-left: 10px;

                    transition: $transition-05;
                }

                a:hover {
                    color: $color-primary;

                    background-color: $color-tertiary;
                }
            }
        }
    }

    form {
        .data {
            color: #000000;

            margin-bottom: 15px;

            width: 200px;
            height: 25px;

            border: #000000 solid 1px;
        }

        label {
            font-size: 14px;
        }

        button {
            margin-top: 20px;
            margin-left: 55px;

            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-left: 10px;

            border: #000000 solid 1px;
            border-radius: 5px;

            background-color: $color-primary;

            transition: $transition-05;
        }

        button:hover {
            color: $color-primary;

            background-color: $color-tertiary;

            cursor: pointer;
        }
    }

    .div-olvide {
        margin-top: 15px;
        margin-bottom: 30px;

        a {
            text-decoration: none;

            color: #000000;

            padding-top: 7px;
            padding-right: 7px;
            padding-bottom: 7px;
            padding-left: 7px;
        }
    }
}

.body-login {
    height: 100vh;
}