.li-res {
    padding-top: 10px;
    padding-bottom: 5px;

    a {
        text-align: center;

        text-decoration: none;

        font-size: 20px;

        color: #000000;

        padding: 10px;

        transition: $transition-05;
    }

    a:hover {
        color: $color-primary;
    }
}

.dropdown-menu {
    background-color: $color-tertiary;

    text-align: center;
}