.grid-prendas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;

    justify-items: center;

    margin-top: 50px;

    div {
        text-align: center;

        .img-card {
            height: 370px;
        }

        div {
            margin-top: 10px;
        }
    }
}

.img-zapatillas {
    height: 350px
}

.carrito {
    text-decoration: none;
    font-size: 15px;
}

.boton-01-carrito {
    @extend .carrito;

    color: #ffffff;
}

.boton-02-carrito {
    @extend .carrito;

    color: #000000;
}